html {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    position: fixed;
    top: 79%;
    left: 1.5vw;
}

.progress-fuel {
    width: 265px;
    height: 15px;
    border-radius: 3px;
    margin: 2px;
    background: #97440041;
    border: #da64031f 0.5px solid;
}

.progress-fuel .progressfill {
    border-radius: 2px;
    width: 0%;
    height: 100%;
    background: #da6303de;
}